<?xml version="1.0"?>

<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find gripper_description)/urdf/gripper_for_rviz_0dof.urdf.xacro namespace:=gripper" />

  <!--rviz still need the tf for the fixed joints!-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gripper_description)/gripper.rviz"/>
</launch>
