<?xml version="1.0"?>

<launch>
  <arg name="namespace" default="gripper"/>

  <!-- send the robot XML to param server -->
  <param 
    name="robot_description" 
    command="$(find xacro)/xacro $(find gripper_gazebo)/sdf/gripper_fixed.xacro namespace:=$(arg namespace)"
  />
  
  <!-- to have more than one gripper make sure to have apply namespace-->
  <node name="spawn_gripper" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf
              -model $(arg namespace)
              -x 0 
              -y 0
              -z 1.06
              -R 0.0
              -P 0.0
              -Y 0.0
              "
        respawn="false" output="screen"
  />
</launch>
