<?xml version="1.0"?>
<launch>
    <!-- if you change it, ROS control won't work-->
    <arg name="namespace" default="gripper"/>
    <group ns="$(arg namespace)">
        <include file="$(find gripper_gazebo)/launch/spawn.launch">
            <arg name="namespace" value="$(arg namespace)"/>
        </include>
    </group>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gripper_gazebo)/worlds/testbench.world"/>
        <arg name="debug" value="false" />
        <arg name="paused" value="true" />
        <arg name="gui" value="true" />
        <arg name="verbose" value="true"/>
        <arg name="use_sim_time" value="true"/>
    </include>
    
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find gripper_gazebo)/rviz/gripper_in_gazebo.rviz"/>
    <!-- TODO a GUI for sending the reference position (in an intuitive way) -->
    
</launch>
