<?xml version="1.0"?>
<robot name="gripper_rviz" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="namespace" default="my_gripper"/>

    <xacro:include filename="$(find gripper_description)/urdf/gripper.reusable.xacro"/>
    <xacro:mk_parallel_gripper ns="$(arg namespace)"/>

</robot>
