<robot name="parallel_link_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mk_parallel_gripper_with_0dof" params="ns">
    <link name="${ns}/base_link">
      <inertial>
        <mass value="0.24260633" />
        <origin xyz="0.0401869132568203 0.005767597704663576 0.00031208746430299645" rpy="0.0 -0.0 0.0" />
        <inertia ixx="0.00015712609610589267" iyy="0.0004032300421111192" izz="0.0004970779068413319" ixy="-1.1037911176688073e-05" ixz="-4.795827127861542e-06" iyz="-2.7051791110215334e-06" />
      </inertial>
      <visual>
        <origin xyz="0.002 0.0 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_mount__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_mount__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.231373 0.380392 0.705882 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_x430_shell_rhs__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_x430_shell_rhs__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.4 0.4 0.4 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_bracket_rhs__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_bracket_rhs__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.917647 0.917647 0.917647 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.03725 0.015 0.019" rpy="0.0 -0.0 -1.5708" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/dynamixel_casing__list_ndk53xfpevccij_default.stl" />
        </geometry>
        <material name="dynamixel_casing__list_ndk53xfpevccij_default_material">
          <color rgba="0.615686 0.811765 0.929412 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0615 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_bracket_pad__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_bracket_pad__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.768627 0.886275 0.952941 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0 0.017" rpy="-3.14159 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_bracket_rhs__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_bracket_rhs__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.917647 0.917647 0.917647 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.0205 0.0 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.041 0.066 0.04" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.045 0.0 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.008 0.048 0.04" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0215 -0.034 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.03 0.003 0.02" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0173 -0.04 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <cylinder length="0.02" radius="0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0215 0.0307 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.03 0.003 0.02" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0215 0.034 0.0" rpy="-3.14159 -0.0 0.0" />
        <geometry>
          <box size="0.03 0.003 0.02" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0173 0.04 0.0" rpy="-3.14159 -0.0 0.0" />
        <geometry>
          <cylinder length="0.02" radius="0.005" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0.02225113937201575 0.014815122034022526 0.0" rpy="-0.0 -0.0 -1.558468163397448" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_lhs_top.stl" />
        </geometry>
        <material name="rod_inner_lhs_top_material">
          <color rgba="0.231373 0.380392 0.705882 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.02225113937201575 0.014815122034022526 -0.006999999999999999" rpy="0.0 -0.0 1.583121836602552" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_bottom.stl" />
        </geometry>
        <material name="rod_inner_bottom_material">
          <color rgba="0.972549 0.529412 0.00392157 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.03725 0.015 0.019000000000000003" rpy="0.0 -0.0 1.583121836602552" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/dynamixel_horn__list_ndk53xfpevccij_default.stl" />
        </geometry>
        <material name="dynamixel_horn__list_ndk53xfpevccij_default_material">
          <color rgba="0.231373 0.380392 0.705882 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.07224734146529657 0.009431381920614101 0.0" rpy="-0.0 -0.0 -2.8260753619205716e-19" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03725 0.015 0.021500000000000002" rpy="-0.0 -0.0 -1.558468163397448" />
        <geometry>
          <cylinder length="0.005" radius="0.013" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.05674851881637952 0.015240341355770714 0.021500000000000002" rpy="-0.0 -0.0 -1.558468163397448" />
        <geometry>
          <box size="0.01 0.039 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.057248480837312335 0.01524650395463663 -0.022" rpy="0.0 -0.0 1.583121836602552" />
        <geometry>
          <box size="0.012 0.036 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.03725 0.015 -0.022" rpy="0.0 -0.0 1.583121836602552" />
        <geometry>
          <cylinder length="0.005" radius="0.011" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.07224734146529657 0.009431381920614101 0.0" rpy="-0.0 -0.0 -2.8260753619205716e-19" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </collision>
      <visual>
        <origin xyz="-0.007501619800169331 0.019693427293675844 -0.002500084436701384" rpy="4.529961130895334e-06 1.8763713373682254e-06 -1.5584721633956877" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_outer.stl" />
        </geometry>
        <material name="rod_outer_material">
          <color rgba="0.498039 0.498039 0.498039 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03474867102301052 0.040215667399886794 3.283649840686403e-08" rpy="4.529961130895334e-06 1.8763713373682254e-06 -1.5584721633956877" />
        <geometry>
          <box size="0.01 0.043 0.005" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0.02225113906269799 -0.014815147130192935 0.0" rpy="0.0 0.0 1.5584761633974482" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_rhs_top.stl" />
        </geometry>
        <material name="rod_inner_rhs_top_material">
          <color rgba="0.768627 0.886275 0.952941 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.02225113906269799 -0.014815147130192935 -0.007" rpy="0.0 0.0 1.5584761633974482" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_bottom.stl" />
        </geometry>
        <material name="rod_inner_bottom_material">
          <color rgba="0.972549 0.529412 0.00392157 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.07224734218704859 -0.009431323362893713 -1.1258228025210523e-08" rpy="3.1415907772184557 -1.8763713373682258e-06 1.7605045785521608e-12" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03725 -0.015 0.0215" rpy="0.0 0.0 1.5584761633974482" />
        <geometry>
          <cylinder length="0.005" radius="0.013" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.05674851921849261 -0.015240308730749184 0.0215" rpy="0.0 0.0 1.5584761633974482" />
        <geometry>
          <box size="0.01 0.039 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.057248481249736013 -0.015246470493076087 -0.022" rpy="0.0 0.0 1.5584761633974482" />
        <geometry>
          <box size="0.012 0.036 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.03725 -0.015 -0.022" rpy="0.0 0.0 1.5584761633974482" />
        <geometry>
          <cylinder length="0.005" radius="0.011" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.07224734218704859 -0.009431323362893713 -1.1258228025210523e-08" rpy="3.1415907772184557 -1.8763713373682258e-06 1.7605045785521608e-12" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </collision>
      <visual>
        <origin xyz="0.07749191590321527 -0.02074094516778973 -0.002500075054844703" rpy="-7.772184558163529e-07 -1.8763713373682254e-06 1.5584721633956877" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_outer.stl" />
        </geometry>
        <material name="rod_outer_material">
          <color rgba="0.498039 0.498039 0.498039 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03474867102301052 -0.040215667399886794 -3.283649840686403e-08" rpy="-7.772184558163529e-07 -1.8763713373682254e-06 1.5584721633956877" />
        <geometry>
          <box size="0.01 0.043 0.005" />
        </geometry>
      </collision>
    </link>
    <joint name="${ns}/Base2TCP" type="fixed">
      <origin xyz="0.098 0 0" rpy="0 0 0" />
      <parent link="${ns}/base_link" />
      <child link="${ns}/TCP" />
    </joint>
    <link name="${ns}/TCP" />
    <gazebo reference="${ns}/body">
      <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="${ns}/lhs_inner_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/lhs_outer_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/lhs_claw">
      <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="${ns}/rhs_inner_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/rhs_outer_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/rhs_claw">
      <material>Gazebo/Green</material>
    </gazebo>
  </xacro:macro>
</robot>