<robot name="parallel_link_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mk_parallel_gripper_with_0dof" params="ns">
    <link name="${ns}/base_link">
      <inertial>
        <mass value="0.24260633" />
        <origin xyz="0.03722484685312745 0.005769555330558094 0.0003120771208668957" rpy="0.0 -0.0 0.0" />
        <inertia ixx="0.00033162971230880006" iyy="0.00031996188149119206" izz="0.0005883133535631016" ixy="-7.5885315313104964e-06" ixz="-4.078244930063489e-06" iyz="2.4156337545772047e-06" />
      </inertial>
      <visual>
        <origin xyz="0.002 0.0 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_mount__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_mount__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.231373 0.380392 0.705882 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_x430_shell_rhs__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_x430_shell_rhs__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.4 0.4 0.4 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_bracket_rhs__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_bracket_rhs__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.917647 0.917647 0.917647 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.03725 0.015 0.019" rpy="0.0 -0.0 -1.5708" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/dynamixel_casing__list_ndk53xfpevccij_default.stl" />
        </geometry>
        <material name="dynamixel_casing__list_ndk53xfpevccij_default_material">
          <color rgba="0.615686 0.811765 0.929412 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0615 -0.017" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_bracket_pad__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_bracket_pad__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.768627 0.886275 0.952941 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.002 0.0 0.017" rpy="-3.14159 -0.0 0.0" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/gripper_bracket_rhs__list_gggmxkb4ygsnke_default.stl" />
        </geometry>
        <material name="gripper_bracket_rhs__list_gggmxkb4ygsnke_default_material">
          <color rgba="0.917647 0.917647 0.917647 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.0205 0.0 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.041 0.066 0.04" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.045 0.0 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.008 0.048 0.04" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0215 -0.034 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.03 0.003 0.02" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0173 -0.04 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <cylinder length="0.02" radius="0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0215 0.0307 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <box size="0.03 0.003 0.02" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0215 0.034 0.0" rpy="-3.14159 -0.0 0.0" />
        <geometry>
          <box size="0.03 0.003 0.02" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0173 0.04 0.0" rpy="-3.14159 -0.0 0.0" />
        <geometry>
          <cylinder length="0.02" radius="0.005" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0.026643426427809192 0.004393370136669067 0.0" rpy="-0.0 -0.0 -0.7853981633974481" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_lhs_top.stl" />
        </geometry>
        <material name="rod_inner_lhs_top_material">
          <color rgba="0.231373 0.380392 0.705882 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.026643426427809192 0.004393370136669067 -0.006999999999999999" rpy="0.0 -0.0 2.3561971437821385" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_bottom.stl" />
        </geometry>
        <material name="rod_inner_bottom_material">
          <color rgba="0.972549 0.529412 0.00392157 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.03725 0.015 0.019000000000000003" rpy="0.0 -0.0 2.3561971437821385" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/dynamixel_horn__list_ndk53xfpevccij_default.stl" />
        </geometry>
        <material name="dynamixel_horn__list_ndk53xfpevccij_default_material">
          <color rgba="0.231373 0.380392 0.705882 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.06199867166844522 0.03374880301443885 0.0" rpy="-0.0 -0.0 -2.1438260709158268e-18" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03725 0.015 0.021500000000000002" rpy="-0.0 -0.0 -0.7853981633974481" />
        <geometry>
          <cylinder length="0.005" radius="0.013" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.05103854564384805 0.028788618822330213 0.021500000000000002" rpy="-0.0 -0.0 -0.7853981633974481" />
        <geometry>
          <box size="0.01 0.039 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.051392098096254404 0.02914217315110791 -0.022" rpy="0.0 -0.0 2.3561971437821385" />
        <geometry>
          <box size="0.012 0.036 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.03725 0.015 -0.022" rpy="0.0 -0.0 2.3561971437821385" />
        <geometry>
          <cylinder length="0.005" radius="0.011" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.06199867166844522 0.03374880301443885 0.0" rpy="-0.0 -0.0 -2.1438260709158268e-18" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </collision>
      <visual>
        <origin xyz="0.013714466094067266 0.008180201480691873 -0.002500084436701384" rpy="4.529961130895335e-06 1.8763713373682258e-06 -0.7853981633956878" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_outer.stl" />
        </geometry>
        <material name="rod_outer_material">
          <color rgba="0.498039 0.498039 0.498039 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.02962436867076458 0.05237436867072102 3.283649840686403e-08" rpy="4.529961130895335e-06 1.8763713373682258e-06 -0.7853981633956878" />
        <geometry>
          <box size="0.01 0.043 0.005" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0.0266434372424969 -0.004393359322049782 0.0" rpy="0.0 0.0 0.7853981633974483" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_rhs_top.stl" />
        </geometry>
        <material name="rod_inner_rhs_top_material">
          <color rgba="0.768627 0.886275 0.952941 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.0266434372424969 -0.004393359322049782 -0.007" rpy="0.0 0.0 0.7853981633974483" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_inner_bottom.stl" />
        </geometry>
        <material name="rod_inner_bottom_material">
          <color rgba="0.972549 0.529412 0.00392157 1.0" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.06199864643418446 -0.03374882824856107 1.1258228025210527e-08" rpy="-3.1415907772184557 1.8763713373682256e-06 1.7603916580989416e-12" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03725 -0.015 0.0215" rpy="0.0 0.0 0.7853981633974483" />
        <geometry>
          <cylinder length="0.005" radius="0.013" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.05103853158475403 -0.028788632881335284 0.0215" rpy="0.0 0.0 0.7853981633974483" />
        <geometry>
          <box size="0.01 0.039 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.051392083676670794 -0.02914218757060029 -0.022" rpy="0.0 0.0 0.7853981633974483" />
        <geometry>
          <box size="0.012 0.036 0.005" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.03725 -0.015 -0.022" rpy="0.0 0.0 0.7853981633974483" />
        <geometry>
          <cylinder length="0.005" radius="0.011" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.06199864643418446 -0.03374882824856107 1.1258228025210527e-08" rpy="-3.1415907772184557 1.8763713373682256e-06 1.7603916580989416e-12" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/jaw_plate.stl" />
        </geometry>
        <material name="jaw_plate_material">
          <color rgba="0.980392 0.796078 0.262745 1.0" />
        </material>
      </collision>
      <visual>
        <origin xyz="0.0738185424949238 -0.06828426461338784 -0.002500075054844703" rpy="-7.772184558163525e-07 -1.8763713373682254e-06 0.7853981633956878" />
        <geometry>
          <mesh filename="package://gripper_description/mesh/rod_outer.stl" />
        </geometry>
        <material name="rod_outer_material">
          <color rgba="0.498039 0.498039 0.498039 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.02962436867076458 -0.05237436867072102 -3.283649840686403e-08" rpy="-7.772184558163525e-07 -1.8763713373682254e-06 0.7853981633956878" />
        <geometry>
          <box size="0.01 0.043 0.005" />
        </geometry>
      </collision>
    </link>
    <joint name="${ns}/Base2TCP" type="fixed">
      <origin xyz="0.098 0 0" rpy="0 0 0" />
      <parent link="${ns}/base_link" />
      <child link="${ns}/TCP" />
    </joint>
    <link name="${ns}/TCP" />
    <gazebo reference="${ns}/body">
      <material>Gazebo/DarkGray</material>
    </gazebo>
    <gazebo reference="${ns}/lhs_inner_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/lhs_outer_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/lhs_claw">
      <material>Gazebo/Green</material>
    </gazebo>
    <gazebo reference="${ns}/rhs_inner_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/rhs_outer_beam">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${ns}/rhs_claw">
      <material>Gazebo/Green</material>
    </gazebo>
  </xacro:macro>
</robot>